.user{
	font-size: 1.5em;
	color: #2F4538;
}

.text{
    font-size: 1.0em;
	color: #000000;
    margin-bottom: 30px;
}

.Font{
    font-family: Comic Sans MS, sans-serif;
}

#imageDelete{
    height: 15px;
	width: 15px;
	margin: 1px 1px 1px 1px;
}

#plus{
	background-color: #EEE;
	border-style: solid;
	border-radius: 5px;
    font-family: Comic Sans MS, sans-serif;	
    color: rgb(231, 20, 20);
}