#main{
	background-color: #F5F5F5;
	height: 100%;
}

#problemsContainer{
	margin-left: 300px;
	margin-right: 300px; 
}

h1{
	font: 50pt Comic Sans MS;
	font-weight: 500;
	color: #2F4538;
	text-align: center;
}

#root{
	position: absolute;
	left: 0;
	width: 100%;
}