h1{
	font-size: 2em;
	color: #FFFFFF;
	font-family: Comic Sans MS, sans-serif;
}

h2{
	font-size: 1em;
	color: #FFFFFF;
	font-family: Comic Sans MS, sans-serif;
}

.text{
	color: #FFF; 
	margin-left: 15px;
}

