<header id = "header">
	<div id = "logo">
		<img src="../../assets/icons/icon.png"/>
	</div>
	<div class = "name">Задачи поколения Z</div>
    <button class="button_header" (click)="openModal('custom-modal-2')">Регистрация</button>
	<button class="button_header" (click)="openModal('custom-modal-2')">Вход</button>
	<!-- <div class = "text">Вход</div> 
	<div class = "text">Регистрация</div> -->
	
</header>	

<jw-modal id="custom-modal-2">
	<router-outlet></router-outlet>
	<alert></alert>
    <button (click)="closeModal('custom-modal-2');" class = "button">Закрыть</button>
</jw-modal>