#header{
	position: fixed;
	left: 0; top: 0;
	background-color: #2F4538;
	color: #FFFFFF;	
	height: 80px;
	width: 100%;		
}

#logo{
	height: 50px;
	width: 50px;
	float: left;
	margin: 15px 30px 15px 30px;
}

.name{
	font-size: 2.5em;
	color: #FFFFFF;
	font-family: Comic Sans MS, sans-serif;
	float: left;
	margin: 10px 30px 10px 30%;
}

.text{
	font-size: 1.0em;
	font-family: Comic Sans MS, sans-serif;
	float: right;
	margin: 30px 30px 30px 30px;
}
