<header id = "header">
	<div id = "logo">
		<img src="../../assets/icons/icon.png"/>
	</div>
	<div class = "name">Задачи поколения Z</div>
    <button routerLink="/register" class="button_header" (click)="openModal('custom-modal-2')">Регистрация</button>
	<button routerLink="/login" class="button_header" (click)="openModal('custom-modal-2')">Вход</button>	
</header>	

<jw-modal id="custom-modal-2">
	<router-outlet></router-outlet>
	<alert></alert>
    <button (click)="closeModal('custom-modal-2');" class = "button">Закрыть</button>
</jw-modal>
