#header{
	position: fixed;
	left: 0; top: 0;
	background-color: #2F4538;
	color: #FFFFFF;	
	height: 80px;
	width: 100%;		
}

#logo{
	height: 50px;
	width: 50px;
	float: left;
	margin: 15px 30px 15px 30px;
}

.name{
	font-size: 2.5em;
	color: #FFFFFF;
	font-family: Comic Sans MS, sans-serif;
	float: right;
	margin: 10px 15% 10px 10px;
}

.user{
	font-size: 1.0em;
	color: rgb(0, 225, 255);
	font-family: Comic Sans MS, sans-serif;
	float: left;
	margin: 30px 0px 25px 5%;
}

.button_header{
	font-size: 1.3em;
	font-family: Comic Sans MS, sans-serif;
	float: right;
	margin: 25px 15px 25px 15px;
	border-style: solid;
	border-radius: 5px;
}

jw-modal {
    display: none;
}

.button{
	background-color: #EEE;
	color: #111;
	border-style: solid;
	border-radius: 5px;
	font-family: Comic Sans MS, sans-serif;
}