<header id = "header">
	<img id = "logo" src="../../assets/icons/icon.png"/>

	<div *ngIf="this.auth.getUser()!=null; else loggedOut">
		<img id = "person" src="../../assets/icons/person.png"/>
		<div class = "user">{{ (auth.item | async)?.firstName }} {{ (auth.item | async)?.lastName }}</div>
		<button class="button_header" (click)="logout()">Выход</button>
		<button class="button_header" [routerLink]="['/add_problem']">Добавить задачу</button>
		<div id = "nameLin" [routerLink]="['/']">Задачи поколения Z</div>
	</div>

	<ng-template #loggedOut>
		<button class="button_header" (click)="openModal('custom-modal-2')" [routerLink]="[{ outlets: {auth: ['register'] }}]">Регистрация</button>
		<button class="button_header" (click)="openModal('custom-modal-2')" [routerLink]="[{ outlets: {auth: ['login'] }}]">Вход</button>
		<div id = "nameLout" [routerLink]="['/']">Задачи поколения Z</div>
	</ng-template>
</header>	

<jw-modal id="custom-modal-2">
	<router-outlet name ="auth"></router-outlet>
	<alert></alert>
    <button (click)="closeModal('custom-modal-2');" class = "button">Закрыть</button>
</jw-modal>
