.root{
	border-style: solid;
	border-width: 1px;
	border-radius: 7px;
	background-color: #FFFFFF;
	margin-top: 10px;
	margin-bottom: 25px;
}

.button{
	background-color: #EEE;
	color: #111;
    font-family: Comic Sans MS, sans-serif;
    margin-bottom: 10px; 
    border: 2px solid #2F4538;
    border-radius: 10px;
}

.text{
    font-size: 1.0em;
	color: #000000;
	font-family: Comic Sans MS, sans-serif;
}

.textbox {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #2F4538;
    color: #EEE;
    border: 2px solid white;
    border-radius: 10px;
}

#fixed {
    position: fixed;
	right: 0; bottom: 15%;
}