.root{
	border-style: solid;
	border-width: 1px;
	border-radius: 7px;
	background-color: #FFFFFF;
	margin-top: 10px;
	margin-bottom: 25px;
}

.button{
	background-color: #EEE;
    margin-bottom: 10px; 
    border: 2px solid #2F4538;
    border-radius: 10px;
}

.onlySymbols{
    margin: 5px 10px 5px 10px;
}

.textbox {
    width: 90%;
    font-size: 0.7em;
    padding: 10px 20px;
    margin-top: 8px;
    box-sizing: border-box;
    background-color: #2F4538;
    color: #EEE;
    border-radius: 10px;
}

#fixed {
    position: fixed;
    right: 0; bottom: 15%;
}

.Font{
    font-family: "Roland";
    font-size: 1.2em;
    color: #111;
}