<app-problem [problem] = "problem"></app-problem>

<div class = "Font">
<div class = "root">
	<h1>Комментарии</h1>
	<div class="onlySymbols" *ngIf="coments && coments.length == 0">
		Комментариев нет!
	</div>
	<ul>
		<li class = "marg" style="list-style-type:none;" *ngFor="let coment of coments">
			<app-coment [coment] = "coment"></app-coment>
		</li>
	</ul>
</div>

<div id = "fixed">
	<div *ngIf="this.auth.getUser()!=null; else loggedOut">
		<div>Добавить комментарий:</div>
		<textarea class="textarea" type="text" (keyup)="onKey($event)"></textarea>
		<button class="button" (click) = "sendComent()">Отправить</button>
	</div>

	<ng-template #loggedOut>
	<div class="root">
		<div class	="onlySymbols">Авторизируйтесь,<br> чтобы оставлять коментарии!</div>
	</div>
	</ng-template>
</div>	
</div>