.searchBar{
    background-image: url("../../assets/icons/search.png");
    background-repeat: no-repeat;
    padding-left: 65px;
    background-position: 14px 10px; 
	border: 1px solid #555;
	border-radius: 7px;
	font-size: 55px;
    font-family: "Roland";
    margin-bottom: 30px;
}

#fixed {
    position: fixed;
    right: 1%; top: 14%;
    left: 81%; 
}

.onlySymbols{
    font-size: 1.5em;
	color: #000000;
    font-family: Comic Sans MS, sans-serif;
    margin: 5px 10px 5px 10px;
}

input[type=text] {
    width: 25%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 92%;
}
