
<div *ngIf="this._problem != undefined ; else undPr">
	<div class="Font">
		<div class = "root">
			<h1 [routerLink]="['/problem/', _problem.id]">{{_problem.name}}</h1>
			<div class = "text">{{_problem.problemText}}</div>
		
			<ul>
				<li *ngFor='let url of this.problemImgUrls'>
					<img class = "image" src={{url}}>
				</li>
			</ul>

			<h1>Решение</h1>
			<div *ngIf="display; else plus"> 
				<input id="plus" type="button" (click)="openModal()" value="Скрыть" />
				<div class = "text">{{_problem.solutionText}}</div>
				
				<ul>
					<li *ngFor='let url of this.solutionImgUrls'>
						<img class = "image" src={{url}}>
					</li>
				</ul>
			</div>

			<ng-template #plus>
				<input id="plus" type="button" (click)="openModal()" value="Показать" />
			</ng-template>
		</div>
	</div>
</div>