#footer {
    background: #2F4538; /* Цвет фона */
    color: #FFFFFF; /* Цвет текста */
	height: 80px;
    width: 100%; /* Ширина слоя */
}

#textLeft{
	font-family: Comic Sans MS, sans-serif;
	float: left;	
	margin: 15px 25px 15px 25px;
}

#textRight{
	font-family: Comic Sans MS, sans-serif;
	float: right;	
	margin: 25px 25px 25px 25px;
}