<div class = "Font">
<div *ngIf="this.auth.getUser()!=null; else loggedOut">
<div class="root">
  <form [formGroup]='problemForm' (ngSubmit)='onSubmit()'>
    <div class="form-group">
      <div class="text" for='name'>Название</div>
      <textarea type="text" formControlName='name' class="form-control textarea text" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"></textarea>
      <div *ngIf="f.name.errors" class="invalid-feedback">
          <div class="textLittle" *ngIf="f.name.errors.required">Требуется ввести название</div>
      </div>
    </div>
    <div class="form-group">
      <div class="text" for='problemText'>Текст задачи</div>
      <textarea type="text" formControlName='problemText' class="form-control textarea text" [ngClass]="{ 'is-invalid': submitted && f.problemText.errors }"></textarea>
      <div *ngIf="f.problemText.errors" class="invalid-feedback">
        <div class="textLittle" *ngIf="f.problemText.errors.required">Требуется ввести текст задачи</div>
      </div> 
    </div>
    
    <div>
      <ul>
        <li style="list-style-type:none" *ngFor='let image of problemImages'>
            {{image.name}}
          <button (click)="deleteImgPr(image)">x</button>
        </li>
      </ul>
      <input type="file" (change)="uploadPr($event)" accept=".png,.jpg" />
    </div>

    <div class="form-group">
      <div class="text" for='solutionText'>Решение</div>
      <textarea type="text" formControlName='solutionText' class="form-control textarea text" [ngClass]="{ 'is-invalid': submitted && f.solutionText.errors }"></textarea>
      <div *ngIf="f.solutionText.errors" class="invalid-feedback">
        <div class="textLittle" *ngIf="f.solutionText.errors.required">Требуется ввести решение задачи</div>
      </div> 
    </div>

    <div>
      <ul>
        <li style="list-style-type:none" *ngFor='let image of solutionImages'>
            {{image.name}}
          <button (click)="deleteImgSl(image)">x</button>
        </li>
      </ul>
      <input type="file" (change)="uploadSl($event)" accept=".png,.jpg" />
    </div>
    
		<div class="form-group">
        <button class="button" [disabled]="loading" class="btn btn-primary button">Добавить задачу</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      </div>

  </form>
</div>
</div>


<ng-template #loggedOut>
  <div class	="onlySymbols">
    Для добавления новой задачи необходимо авторизоваться!<br>
    <br>
  </div>
</ng-template>
</div>

